
.show-more-link {
    display: block;
    width: 130px;
    height: 37px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

.rotate {
    position: relative;
    top: 5px;
    transform: rotate(-105deg);
}

.show-more-text {
    font-weight: bold;
}

.show-more {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 50px;
}