@font-face {
    font-family: "Lora-Bold";
    src: url("../fonts/Lora-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: "Lora-BoldItalic";
    src: url("../fonts/Lora-BoldItalic.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: "Lora-Regular";
    src: url("../fonts/Lora-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: "ProximaNova-Extrabld";
    src: url("../fonts/ProximaNova-Extrabld.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: url("../fonts/ProximaNova-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: "ProximaNova-Semibold";
    src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* COLORS: #ebecf0,  #f94f4c, #ffc830*/

/* ALL */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Times New Roman", Times, serif;
    background-color: #ebecf0;
}

.container {
    position: relative;
    width: 1295px;
    height: 1000px;
    margin: 0 auto;
    background-color: #fff;
}

/* HEADER */
header {
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    width: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ebecf0;
    border-right: 2px solid #ebecf0;
}

.menu {
    margin-top: 10px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    margin-top: 10px;
    margin-right: 34.5px;
}

.menu ul li {
    margin-left: 23px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}

.additional-options {
    width: 105px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 2px solid #ebecf0;
}

.additional-options .search {
    cursor: pointer;
    margin-left: 2.5px;
    margin-top: 2px;
}

.additional-options .bookmark {
    cursor: pointer;
    margin-right: 5px;
    margin-top: 4px;
}

/* IE11 */
select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none; /* Webkit */
    -moz-appearance: none; /* FF */
    -ms-appearance: none; /* Edge */
    appearance: none; /* Future */
}

.select-recipient {
    font-family: ProximaNova-Semibold;
    width: 111px;
    height: 28px;
    margin-left: 22px;
    margin-top: 12px;
    border-radius: 20px;
    background-color: #ffc830;
    border: none;
    font-size: 14px;
    padding-left: 16px;
    padding-top: -1px;
    background: url("../images/UI/chevron-down-solid.svg") no-repeat right
        #ffc830;
    background-size: 12px 12px;
    background-position-x: 85px;
}

/* BURGER MENU*/

.burger-menu {
    position: fixed;
    position: sticky;
    top: 10px;
    background-color: red;
    margin-top: 29px;
    margin-left: 10px;
}

/* POSTER */

.poster {
    position: relative;
    float: right;
    width: 96.3%;
    height: 461px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/common/bearBears.jpg");
    background-size: 104%;
    background-position: -50px -66px;
}

.poster-caption {
    color: #ffc830;
    text-transform: uppercase;
    position: relative;
    left: 66px;
    top: 126px;
    font-size: 13px;
    word-spacing: 1px;
}

.poster-text {
    position: relative;
    left: 66px;
    top: 114px;
    font-size: 40px;
    word-wrap: wrap;
    word-spacing: 3px;
    letter-spacing: 0.1px;
    line-height: 41px;
    width: 570px;
    color: #fff;
}

.poster-info {
    position: relative;
    width: 204px;
    display: flex;
    font-size: 11px;
    left: 66px;
    top: 111px;
}

.poster-views {
    margin-left: 56px;
}

.poster-additional-info {
    color: #fff;
    margin-top: 4px;
    margin-left: 2px;
    word-spacing: 5px;
}

.poster-actions {
    position: relative;
    width: 120px;
    display: flex;
    justify-content: space-between;
    top: 137px;
    left: 65px;
}

.read {
    font-family: ProximaNova-Semibold;
    border-radius: 20px;
    background-color: #ffc830;
    border: none;
    width: 80px;
    font-size: 14px;
}

/* ARTICLE REVIEWS SECTION */

.article-reviews {
    position: relative;
    border-left: 1px solid #ebecf0;
    float: right;
    width: 96.3%;
    height: 425px;
}

.article-caption {
    position: absolute;
    right: 256px;
    letter-spacing: 1px;
    top: 86px;
    font-size: 12px;
    color: #ffc830;
}

.snail-img {
    box-sizing: border-box;
    position: absolute;
    left: 64px;
    top: 84px;
    width: 533px;
    height: 237px;
    border-bottom: 4px solid #d44141;
}

.article-statistics {
    width: 200px;
    font-size: 12px;
    position: relative;
    left: 27px;
    top: -62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-views {
    margin-left: 64px;
}

.article-text {
    color: #5b5664;
    width: 480px;
    line-height: 36px;
    word-spacing: 2.5px;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 27px;
    top: -31px;
}

.article-read {
    position: relative;
    height: 28px;
    left: 27px;
    top: -8px;
}

.post-review {
    background-color: #fff;
    position: absolute;
    top: 116px;
    right: 256px;
    border: 1px solid black;
    width: 423px;
    height: 229px;
}

.post-review::before {
    display: block;
    content: "";
    margin-top: 87px;
    margin-left: -16px;
    background-color: #d44141;
    width: 29px;
    height: 4px;
}

.post-review::after {
    display: block;
    content: "";
    background: url("../images/UI/bookmark_big.svg") no-repeat;
    margin-top: 8px;
    margin-left: 390px;
    width: 22px;
    height: 28px;
}
